<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zipingfang.jindiexuan">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 读取启动设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".application.BApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase">
        <activity android:name=".WelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r1FR1Y0tWUP2OOPKhgLpw1XF7skCGAy9" />
        <!--<service-->
            <!--android:name="com.baidu.location.f"-->
            <!--android:enabled="true"-->
            <!--android:process=":remote" >-->
        <!--</service>-->

        <!--7.0拍照-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xilada.xldutils.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".MainActivity"/>
        <activity android:name=".StartActivity"/>
        <activity android:name=".module_login.activity.RegisterActivity"/>
        <activity android:name=".module_login.activity.LoginActivity"/>
        <activity android:name=".module_login.activity.ForgetPasswordActivity"/>
        <activity android:name=".module_login.activity.ServiceAgreementActivity"/>
        <activity android:name=".module_login.activity.RegisterPersonalInformationActivity"/>
        <activity android:name=".module_login.activity.SelectSexActivity"
            android:theme="@style/Dialog"
            />
        <activity android:name=".module_login.activity.SelectedDeliveryActivity" />
        <activity android:name=".module_login.activity.AuthenticateActivity"/>
        <activity android:name=".module_login.activity.SelectDriverActivity"
            android:theme="@style/Dialog"
            />
        <activity android:name=".module_user.activity.PersonalInformationActivity"/>
        <activity android:name=".module_user.activity.PartTimeDriverStatueActivity"/>
        <activity android:name=".module_user.activity.SelectNickNameActivity"/>
        <activity android:name=".module_user.activity.ModifyPhoneActivity"/>
        <activity android:name=".module_home.activity.InformationListActivity"/>
        <activity android:name=".module_user.activity.PunchActivity"/>
        <activity android:name=".module_user.activity.MyWallectActivity"/>
        <activity android:name=".module_user.activity.NoticeMesssageActivity"/>
        <activity android:name=".module_user.activity.RecommendActivity"/>
        <activity android:name=".module_user.activity.OrdersSettingActivity"/>
        <activity android:name=".module_user.activity.LeaderBoardActivity"/>
        <activity android:name=".module_user.activity.FullTimeDriverAuthenticateActivity"/>
        <activity android:name=".module_user.activity.FullTimeDriverAuthenticateScheduleActivity"/>
        <activity android:name=".module_user.activity.FeedBackActivity"/>
        <activity android:name=".module_user.activity.RevisePasswordActivity"/>
        <activity android:name=".module_user.activity.AboutActivity"/>
        <activity android:name=".module_user.activity.PunchSuccessActivity"/>
        <activity android:name=".module_user.activity.PunchErrorActivity"/>
        <activity android:name=".module_grabone.activity.GraboneDetailsActivity"/>
        <!--xldUtils-->
        <activity android:name="com.xilada.xldutils.activitys.SelectPhotoDialog"
            android:theme="@style/Dialog"
            />

        <!-- 配置友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e60e18bbea836d99001182" ><!--替换为自己的友盟key-->
        </meta-data>
        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106008918" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


    </application>

</manifest>